.venv
logs/
processed/
TwiBot-22/
eda_outputs/
runs/

*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.z
*.tar.lz4
*.tar.zstd
*.tar.br
*.tar.bzip2
*.tar.gzip

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
